<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova entrega foi criada para você. Confira abaixo os detalhes:</p>

<p>
  <strong>Destinatário: </strong>{{ recipient }}<br />
  <strong>Produto: </strong>{{ product }}<br />
  <hr />
  <strong>Endereço:</strong><br />
  <strong>Rua: </strong>{{street}}<br />
  <strong>Número: </strong>{{number}}<br />
  <strong>Complemento: </strong>{{complements}}<br />
  <strong>Estado: </strong>{{state}}<br />
  <strong>Cidade: </strong>{{city}}<br />
  <strong>CEP: </strong>{{postal_code}}<br />
  <hr />
</p>
